<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643332160518-5dkse85i0q94qj6i24vnl177df17h8u9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643332160518-5dkse85i0q94qj6i24vnl177df17h8u9</string>
	<key>API_KEY</key>
	<string>AIzaSyCGqYnpxdL48-kZI3zjHQcva6b1JHKqtNM</string>
	<key>GCM_SENDER_ID</key>
	<string>643332160518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myGuard</string>
	<key>PROJECT_ID</key>
	<string>my-guard-8a24f</string>
	<key>STORAGE_BUCKET</key>
	<string>my-guard-8a24f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643332160518:ios:5df0c2086949f2fdbe1787</string>
</dict>
</plist>